body{
    margin:0;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
    
}
h1{
    font-size: 50px;
    margin: 0;
    margin-left: 5px;
   
}

#left-border{
    border-left: 4px solid #FF5959;
    border-image-slice: 1;
}

h1 span{
    color: #FFAD5A;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    
}
.half-width img{
    width: 75%;
    margin-top: -80px;
   
}
.header-area{
    margin-top: 80px;
}

.header-area p span{
    font-weight:300;
      
}
.all-btn {
    background-color: #FF5959; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

 
.mission-tittel{
    text-align: center;
    margin-bottom: 40px;
}
.mission-tittel h1{
    font-size:  58px;
}


.mission-card{
    width: 26%;
    height: 376px;
    float: left;
    margin-left: 8%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #4F9DA61A;
    border-radius: 25px;
}
.vission-card{
    width: 26%;
    height: 376px;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #FF59591A;  
    border-radius: 25px;
}
.goals-card{
    width: 26%;
    height: 376px;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #FFF4D6;
    border-radius: 25px;
}
.mission-info img{
    width: 60%;
    padding-left: 0px;
}
.mission-2022{
    margin: auto;
    width: 100%;  
}
.mission-info p{
    font-size: 14px;
}
.mission-info h4{
    font-size: 22px;
    margin:0
}

.exta-sec h1{
    text-align: center;
    
}
.exta-sec p{
    text-align: center;
    margin: 0 300px;
}
.exta-sec{
    margin-bottom: 200px;
    background-image: url(images/fly.png);
    background-repeat: no-repeat;
 }
.exta-sec img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}


footer span{
    color: #FF5959;
}
footer h1{
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 36px;
    padding-top: 50px;
}
footer p{
    color: #ffffff;
    font-size: 14px;
}
footer{
    text-align: center;
    background-color: black;
    height: 177px;
}